body {
    height: 100vh;
    background-color: #2d3044;
}

.container{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, fr);
    grid-template-rows: fr;
    grid-template-areas: "header header";
    grid-auto-rows: minmax(45vh, 1fr);
    gap: 10px;
    align-content: space-evenly;
}

.grid-item{
    max-height: 60vh;
    padding: 10px;
}

.orange{
    background-color: #fda061;
}

.light_green{
    background-color: #34daba;
}

.red{
    background-color: #fc6057;
}

.deep_green{
    background-color: #00a688;
}

.green{
    background-color: #00a688;
}

.parent_div {
    padding: 10px;
    gap: 10px;
    background-color: #00a889;
    display: grid;
    grid-template-columns: repeat(2, fr);
    grid-template-rows: 1fr;
    grid-template-areas: "header header";
    grid-auto-rows: minmax(150px, 1fr);
    gap: 10px;
}
.child_div {
    align-items: left;
}

.small-grid-item{
}