body {
    height: 100vh;
    background-color: #2d3044;
}

.container{
    margin: 10px;
    height: 20%;
    display: grid;
    grid-template-columns: repeat(2, fr);
    grid-template-rows: 1fr;
    grid-template-areas: "header header";
    grid-auto-rows: minmax(150px, 1fr);
    gap: 10px;
}

.grid-item{
    padding: 10px;
    border: 0px white solid;
    background-color: rgb(168, 208, 208);
    min-height: 0;
}

.orange{
    padding: 10px;
    border: 0px white solid;
    background-color: #fda061;
    min-height: 0;
}

.light_green{
    padding: 10px;
    border: 0px white solid;
    background-color: #34daba;
    min-height: 0;
}

.container2{
    margin: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, fr);
    grid-template-rows: 1fr;
    grid-template-areas: "header header";
    grid-auto-rows: minmax(150px, 1fr);
    gap: 10px;
}

.red{
    padding: 10px;
    border: 0px white solid;
    background-color: #fc6057;
    min-height: 0;
}

.green{
    padding: 10px;
    border: 0px white solid;
    background-color: #00a688;
    min-height: 0;
}

.container3{
    margin: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, fr);
    grid-template-rows: 1fr;
    grid-template-areas: "header header";
    grid-auto-rows: minmax(150px, 1fr);
    gap: 10px;
}